button{
    position: relative;
    display: flex;
}
button::before{
    content: "";
    width: 111%;
    height: 18.5px;
    background-color: black;
    display: inline-flex;
    position: absolute;
    top:-1px;
    left: -145px;
    background-color: #FF161F;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    z-index: 1;
    transition: 0.9s;
}
button:hover::before{
    left: -1px;
}
button::after{
    content: "";
    width: 111%;
    height: 18.5px;
    background-color: black;
    display: inline-flex;
    position: absolute;
    bottom: -1px;
    left: -145px;
    background-color: #FF161F;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    z-index: 1;
    transition: 0.9s;
}
button:hover::after{
    left: -1px;
}
